:root {
  --color-primary: #AD8B0A;
  --color-black: #000;
  --color-pink: #F0E1F0;
  --color-blue: #005AAF;
  --color-orange: #E45E1E;
  --color-green: #009844;
}

body {
  container-type: inline-size;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.25em;
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: var(--color-black);
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}
a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.pc-only {
  display: block;
}
.sp-only {
  display: none;
}
.lg-only {
  display: block;
}
.sm-only {
  display: none;
}
@media screen and (max-width: 898px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .lg-only {
    display: none;
  }
  .sm-only {
    display: block;
  }
}

.main {
  max-width: 850px;
  margin: 120px auto 0;
}
@media screen and (max-width: 898px) {
  .main {
    padding: 0 24px;
    margin-top: 64px;
  }
}

.concept {
  margin-bottom: 160px;
  text-align: center;
}
.concept-text {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 48px;
}
.concept-text-right {
  display: block;
  text-align: right;
}
.concept-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
@media screen and (max-width: 898px) {
  .concept {
    margin-bottom: 80px;
  }
  .concept-text {
    font-size: 16px;
  }
  .concept-logos {
    gap: 24px;
  }
}
@media screen and (max-width: 600px) {
  .concept-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .concept-logos img {
    width: fit-content;
  }
}

.hero-title {
  margin-bottom: 80px;
  text-align: center;
}
.hero-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.hero-image-logo {
  max-width: 30cqi;
  margin: 0 auto;
}
.hero-image-kumadorin {
  max-width: 35cqi;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .hero-title {
    margin-bottom: 40px;
  }
  .hero-images {
    gap: 24px;
  }
}

.hero-speech-bubble {
  background-color: #fff;
  border-radius: 64px;
  border: 1px solid var(--color-primary);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 80px;
}
.hero-speech-bubble::before {
  content: url(images/speech_bubble_arrow.svg);
  display: block;
  position: absolute;
  top: -48px;
  left: 15%;
}
.hero-speech-bubble::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #EFE8CE;
  border-radius: 64px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: -1;
}
.hero-speech-bubble-content {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.hero-speech-bubble-title {
  font-size: 40px;
  text-align: center;
}
.hero-speech-bubble-text {
  font-size: 24px;
  line-height: 2;
}
@media screen and (max-width: 898px) {
  .hero-speech-bubble-content {
    padding: 16px;
    gap: 16px;
  }
  .hero-speech-bubble-title {
    font-size: 24px;
  }
  .hero-speech-bubble-text {
    font-size: 16px;
  }
}

.hero-button {
  position: relative;
  width: 125px;
  margin: 96px auto 0;
  padding-bottom: 80px;
}
.hero-button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.hero-button-absolute {
  position: absolute;
  top: 0;
  left: calc(100% + 48px);
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--color-primary);
  font-size: 24px;
  white-space: nowrap;
}
.hero-button-absolute::after {
  content: url(images/kumadorin_small.svg);
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  z-index: -1;
}
@media screen and (max-width: 898px) {
  .hero-button {
    margin-top: 64px;
    padding-bottom: 48px;
  }
  .hero-button-absolute {
    font-size: 16px;
    left: calc(100% + 24px);
  }
  .hero-button-absolute::after {
    top: 120%;
    left: -100%;
  }
}

.about-bg-pink {
  background-color: var(--color-pink);
  margin-left: calc(50% - 50cqi);
  margin-right: calc(50% - 50cqi);
  padding: 88px 0;
  margin-bottom: 64px;
}
.about-inner {
  width: 850px;
  margin: 0 auto;
}
.about-title {
  margin-bottom: 40px;
}
.about-text {
  line-height: 2;
  font-size: 22px;
}
@media screen and (max-width: 898px) {
  .about-bg-pink {
    margin-left: -24px;
    margin-right: -24px;
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .about-inner {
    width: auto;
    padding: 0 24px;
  }
  .about-title {
    margin-bottom: 24px;
  }
  .about-text {
    font-size: 16px;
  }
}

.about-list-container {
  text-align: center;
}
.about-list-title {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}
.about-list-title::before,
.about-list-title::after {
  content: '';
  display: block;
  background-image: url(images/logo_kumadorin_jaya.svg);
  background-size: cover;
  width: 56px;
  height: 56px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.about-list-title::before {
  right: calc(100% + 32px);
}
.about-list-title::after {
  left: calc(100% + 32px);
}
.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.about-list-item {
  border-radius: 24px;
  border: 1px solid var(--color-blue);
  overflow: hidden;
}
.about-list-item-title {
  font-size: 24px;
  background-color: var(--color-blue);
  padding: 24px 16px;
  color: #fff;
}
.about-list-item-text {
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 40px;
}
@media screen and (max-width: 898px) {
  .about-list-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .about-list-title::before,
  .about-list-title::after {
    width: 24px;
    height: 24px;
  }
  .about-list-title::before {
    right: calc(100% + 12px);
  }
  .about-list-title::after {
    left: calc(100% + 12px);
  }
  .about-list-item-title {
    padding: 16px;
    font-size: 16px;
  }
  .about-list-item-text {
    padding: 16px;
    font-size: 14px;
  }
  .about-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.about-benefit-list {
  display: grid;
  gap: 32px;
  margin-top: 96px;
}
.about-benefit-list-item {
  border-width: 6px;
  border-style: solid;
  padding: 16px;
}
.about-benefit-list-item.black {
  border-color: var(--color-black);
}
.about-benefit-list-item.orange {
  border-color: var(--color-orange);
}
.about-benefit-list-item.green {
  border-color: var(--color-green);
}
@media screen and (max-width: 898px) {
  .about-benefit-list {
    gap: 8px;
    margin-top: 40px;
  }
  .about-benefit-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
  .about-benefit-list-item img {
    height: 20px;
  }
}
@media screen and (max-width: 600px) {
  .about-benefit-list-item {
    border-width: 4px;
  }
}

.cta {
  margin: 80px 0 0;
}
.cta-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.cta-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 40px;
}
.cta-button-text {
  font-size: 28px;
}
@media screen and (max-width: 898px) {
  .cta {
    margin-top: 64px;
  }
  .cta-image-container {
    gap: 24px;
  }
  .cta-image-text {
    max-width: 80px;
  }
  .cta-image-kumadorin {
    max-width: 100px;
  }
  .cta-button {
    gap: 16px;
  }
  .cta-button-text {
    font-size: 16px;
  }
}

footer {
  letter-spacing: 0.05em;
  text-align: center;
  padding: 40px 0;
  font-weight: 400;
}
.footer-text {
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-copyright {
  font-size: 14px;
  letter-spacing: 0;
}
@media screen and (max-width: 898px) {
  .footer-text {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}